<!DOCTYPE html>

<html lang = "pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "/views/public/css/style.css">
    <title> catálogoLivre | Criar </title>
</head>

<body>
    <header>
        <div class="content">
            <nav>
                <p class="brand"> catálogo<strong>Livre </strong> </p>

                <ul>
                    <li> <a href = "#catalogar" > Catálogo </a> </li>

                    <li> <a href = "#informar" > Informações </a> </li>

                    <li> <a href = "#criar" > Criar </a> </li>

                    <li> <a href = "#editar" > Editar </a> </li>

                    <button> Login </button>
                </ul>
            </nav>

            <div class = "header-block">
                <div class="text">
                    <h2> Carros <strong>perfeitos</strong>, feitos para você </h2>

                    <p> Porque se contentar com pouco, não faz parte da sua identidade </p>
                </div>

                <img src = "/img/car-header.png" alt = "Audi amarelo">
            </div>
    </header>

    <section class="criar" id="criar">
        <div class="content">
            <div class="tittle-wrapper-criar">
                <p>O que você pode fazer?</p>
                <h3>Cadastre o seu carro</h3>
            </div>
            <div class="criar-card-block">
                <div class="criar-card-item">
                    <img src= "/img/feature-planet.png" alt="criar">
                    <div class="criar-text-content">
                        <h3>Deixe sua criatividade voar</h3>
                        <p>Perfeição. Ela ainda não foi encontrada, mas você não precisa parar de buscar.</p>
                    </div>
                </div>
                <div class="criar-card-item">
                    <img src= "/img/feature-planet.png" alt="criar">
                    <div class="criar-text-content">
                        <h3>Deixe sua criatividade voar</h3>
                        <p>Perfeição. Ela ainda não foi encontrada, mas você não precisa parar de buscar.</p>
                    </div>
                </div>
                <div class="criar-card-item">
                    <img src= "/img/feature-planet.png" alt="criar">
                    <div class="criar-text-content">
                        <h3>Deixe sua criatividade voar</h3>
                        <p>Perfeição. Ela ainda não foi encontrada, mas você não precisa parar de buscar.</p>
                    </div>
                </div>
                <div class="criar-card-item">
                    <img src= "/img/feature-planet.png" alt="criar">
                    <div class="criar-text-content">
                        <h3>Deixe sua criatividade voar</h3>
                        <p>Perfeição. Ela ainda não foi encontrada, mas você não precisa parar de buscar.</p>
                    </div>
                </div>
                <div class="criar-card-item">
                    <img src= "/img/feature-planet.png" alt="criar">
                    <div class="criar-text-content">
                        <h3>Deixe sua criatividade voar</h3>
                        <p>Perfeição. Ela ainda não foi encontrada, mas você não precisa parar de buscar.</p>
                    </div>
                </div>
                <div class="criar-card-item">
                    <img src= "/img/feature-planet.png" alt="criar">
                    <div class="criar-text-content">
                        <h3>Deixe sua criatividade voar</h3>
                        <p>Perfeição. Ela ainda não foi encontrada, mas você não precisa parar de buscar.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="main">
            <div class="content footer-links">
                <div class="footer-company">
                    <h4>Empresa</h4>
                    <h6>Sobre</h6>
                    <h6>Contato</h6>
                </div>
                <div class="footer-rental">
                    <h4>Aluguel</h4>
                    <h6>Dirija você mesmo</h6>
                    <h6>Contrate um Chauffer</h6>
                    <h6>Ajuda</h6>
                </div>
                <div class="footer-social">
                    <h4>Fique conectado</h4>
                    <div class="social-icons">
                        <img src="/img/instagram.png" alt="instagram">
                        <img src="/img/facebook.png" alt="facebook">
                    </div>
                </div>
                <div class="footer-contact">
                    <h4>Fale conosco</h4>
                    <h6>+55 41 992237780</h6>
                    <h6>diegocarravetta@icloud.com</h6>
                </div>
            </div>
        </div>
        <div class="last">
            Feito por Diego Carravetta com ajuda do vídeo aula de DevSuperior em 2021
        </div>
    </footer>
</body>

</html>