<!DOCTYPE html>

<html lang = "pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "/css/style.css">
    <title> catálogoLivre </title>
</head>

<body>
    <header>
        <div class="content">
            <nav>
                <p class="brand"> catálogo<strong>Livre </strong> </p>

                <ul>
                    <li> <a href = "#catalogar" > Catálogo </a> </li>

                    <li> <a href = "#informar" > Informações </a> </li>

                    <li> <a href = "#criar" > Criar </a> </li>

                    <li> <a href = "#editar" > Editar </a> </li>

                    <button> Login </button>
                </ul>
            </nav>

            <div class = "header-block">
                <div class="text">
                    <h2> Carros <strong>perfeitos</strong>, feitos para você </h2>

                    <p> Porque se contentar com pouco, não faz parte da sua identidade </p>
                </div>

                <img src = "/img/car-header.png" alt = "Audi amarelo">
            </div>
    </header>
</body>

</html>